<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/cod.css">
    <title>Call Of Duty: Warzone</title>
</head>
<body>
    <button class="botao-voltar" onclick="window.location.href='/';">
        &#8592;
    </button>
    <h1 class="titulo">Call Of Duty: Warzone</h1>
    <div class="container-botoes">    
        <button class="button" onclick="toggleBox('texto1', this)">
            REQUISITOS MÍNIMOS <span class="seta">&#9654;</span>
        </button>
        <div id="texto1" class="caixa-texto">
            <p> Requer um processador e sistema operacional de 64 bits</p>
            <br>
            <p> Sistema Operacional: Windows 10 - 64-bit</p>
            <br>
            <p> Processador: Intel® Core™ i3-6100 / Core™ i5-2500K ou AMD Ryzen™ 3 1200</p>
            <br>
            <p> Memória RAM: 8 GB de RAM</p>
            <br>
            <p> Placa de vídeo: NVIDIA® GeForce® GTX 960 ou AMD Radeon™ RX 470</p>
            <br>
            <p> Rede: Conexão de internet banda larga</p>
            <br>
            <p> Armazenamento: 125 GB de espaço disponível</p>
            <br>
            <p> DirectX: Versão 12</p>
            
        </div>
    
        <button class="button" onclick="toggleBox('texto2', this)">
            REQUISITOS RECOMENDADOS <span class="seta">&#9654;</span>
        </button>
        <div id="texto2" class="caixa-texto">
            <p> Requer um processador e sistema operacional de 64 bits</p>
            <br>
            <p> Sistema Operacional: Windows 10 - 64-bit</p>
            <br>
            <p> Processador:  Intel® Core™ i5-6600K / Core™ i7-4770 ou AMD Ryzen™ 5 1400</p>
            <br>
            <p> Memória RAM: 12 GB de RAM</p>
            <br>
            <p> Placa de vídeo: NVIDIA® GeForce® GTX 1060 ou AMD Radeon™ RX 580</p>
            <br>
            <p> Rede: Conexão de internet banda larga</p>
            <br>
            <p> Armazenamento: 125 GB de espaço disponível</p>
            <br>
            <p> DirectX: Versão 12</p>
        </div>
    </div>

    <script>
        function toggleBox(boxId, button) {
            const caixas = document.querySelectorAll('.caixa-texto');
            const setas = document.querySelectorAll('.button .seta');
            const box = document.getElementById(boxId);
            const seta = button.querySelector('.seta');

            if (box.classList.contains('show')) {
                box.classList.remove('show');
                seta.style.transform = 'rotate(0deg)';
            } else {
                caixas.forEach(caixa => caixa.classList.remove('show'));
                setas.forEach(seta => seta.style.transform = 'rotate(0deg)');
                box.classList.add('show');
                seta.style.transform = 'rotate(90deg)'; 
            }
        }
    </script>
</body>
</html>